# Demo 

#### Loading the Pipeline and Making a Prediction on a Sample Row

This notebook demonstrates loading the saved model and running predictions on new sample rows of data

In [1]:
# Importing libraries 
import warnings 
warnings.filterwarnings('ignore') 

import sys 
import pandas as pd 
import joblib 
from pathlib import Path 

# Getting the project root 
project_root = Path().resolve().parent 
sys.path.append(str(project_root)) 

from src.feature_engineering import feature_engineering

In [2]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [5]:
# Defining folder paths 
# Current directory --> Notebooks/ 
#data_path = "../Data/telco_churn_data.csv" 
#visuals_path = "../Visuals"
#model_path = "../Models"   
model_path = "../Models/churn_pipeline_best.joblib" 
print("Path to Saved Pipeline --> ", model_path)

Path to Saved Pipeline -->  ../Models/churn_pipeline_best.joblib

In [6]:
# Loading the saved pipeline 
# churn_pipeline_best.joblib 

demo_pipe = joblib.load(model_path)

In [8]:
# Defining schema for sample data (matching the schema of the training data) 
demo_columns = [
    'gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup',
    'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges','TotalCharges','Churn' 
]
# Adding sample rows as lists 
demo_rows = [
    ['Female',0,'No','No',5,'Yes','No','Fiber optic','No','No','No','No','Yes','No','Month-to-month','Yes','Electronic check',80.0,400.0, 1], 
    ['Male',1,'Yes','No',24,'Yes','Yes','DSL','Yes','Yes','No','No','No','No','One year','No','Mailed check',55.0,132.0,0],
    ['Female',0,'No','Yes',48,'Yes','No','DSL','Yes','Yes','Yes','Yes','Yes','Yes','Two year','No','Credit card (automatic)',65.5,3144.0,0],
    ['Male',0,'Yes','Yes',2,'Yes','Yes','Fiber optic','No','No','No','No','Yes','Yes','Month-to-month','Yes','Electronic check',95.0,190.0,1], 
    ['Female',1,'No','No',60,'Yes','Yes','DSL','Yes','Yes','Yes','Yes','No','No','Two year','No','Bank transfer (automatic)',50.0,3000.0,0],
]

# Creating dataframe 
demo_df = pd.DataFrame(demo_rows, columns=demo_columns) 
print("Demo Sample Data: \n")
demo_df

Demo Sample Data:

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,No,No,5,Yes,No,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,80.0,400.0,1
1,Male,1,Yes,No,24,Yes,Yes,DSL,Yes,Yes,No,No,No,No,One year,No,Mailed check,55.0,132.0,0
2,Female,0,No,Yes,48,Yes,No,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),65.5,3144.0,0
3,Male,0,Yes,Yes,2,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.0,190.0,1
4,Female,1,No,No,60,Yes,Yes,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Bank transfer (automatic),50.0,3000.0,0

In [9]:
# Separating the features (x) and target (y_true) 
x = demo_df.drop(columns=['Churn']) 
y_true = demo_df['Churn']

In [10]:
# Making predictions 
y_proba = demo_pipe.predict_proba(x)[:,1] # churn probabilities 
# Using the best threshold from the main project notebook (approximated by max F1): ~ 0.6036 
y_pred = (y_proba >= 0.6036).astype(int)

In [11]:
# Combining results into a single table 
demo_results = demo_df.copy() 
demo_results['Churn_Proba'] = y_proba 
demo_results['Churn_Pred'] = y_pred 

print("Demo Prediction Results: \n") 
display(demo_results[['gender','SeniorCitizen','tenure','MonthlyCharges','TotalCharges','Churn','Churn_Proba','Churn_Pred']])

Demo Prediction Results:

,gender,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,Churn_Proba,Churn_Pred
0,Female,0,5,80.0,400.0,1,0.855106,1
1,Male,1,24,55.0,132.0,0,0.192969,0
2,Female,0,48,65.5,3144.0,0,0.062150,0
3,Male,0,2,95.0,190.0,1,0.871483,1
4,Female,1,60,50.0,3000.0,0,0.046286,0